# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as long as we don't include
# *.spec, we should be fine.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# Streamlit secrets
.secrets/

# Environment variables
.env
.venv
src/projects/.DS_Store
src/projects/File_type_test/processed/.DS_Store
src/projects/File_type_test/processed/chunks/.DS_Store
src/projects/File_type_test/processed/chunks/_ark-_2008_-Predicting-Factors-of-PA-in-adolescents_chunks.json
src/projects/KT/.DS_Store
src/projects/KT/litmap/kg_chunk_status.json
src/projects/KT/litmap/KT_entities.json
src/projects/KT/litmap/KT_relations.json
src/projects/KT/processed/chunks/1-s2.0-S215335392300161X-main_chunks.json
src/projects/KT/processed/chunks/1-s2.0-S2153353923001621-main_chunks.json
src/projects/KT/processed/chunks/Allot-2021-Litsuggest-a-web-based-system-for-l_chunks.json
src/projects/KT/processed/chunks/Blaizot-2022-Using-artificial-intelligence-metho_chunks.json
src/projects/KT/processed/chunks/Clark-2020-A-full-systematic-review-was-comple_chunks.json
src/projects/KT/processed/chunks/Hamel-2020-An-evaluation-of-distillersrs-machi_chunks.json
src/projects/KT/processed/manifest.json
src/projects/KT/raw_pdfs/.DS_Store
src/projects/KT/raw_pdfs/1-s2.0-S215335392300161X-main.pdf
src/projects/KT/raw_pdfs/1-s2.0-S2153353923001621-main.pdf
src/projects/KT/raw_pdfs/Allot-2021-Litsuggest-a-web-based-system-for-l.pdf
src/projects/KT/raw_pdfs/Blaizot-2022-Using-artificial-intelligence-metho.pdf
src/projects/KT/raw_pdfs/Clark-2020-A-full-systematic-review-was-comple.pdf
src/projects/KT/raw_pdfs/Hamel-2020-An-evaluation-of-distillersrs-machi.pdf
src/projects/KT/vectorstore/chroma_db/ca0aeb1a-1ac2-4ca4-aec0-c6fab94261ca/data_level0.bin
src/projects/KT/vectorstore/chroma_db/ca0aeb1a-1ac2-4ca4-aec0-c6fab94261ca/header.bin
src/projects/KT/vectorstore/chroma_db/ca0aeb1a-1ac2-4ca4-aec0-c6fab94261ca/length.bin
src/projects/KT/vectorstore/chroma_db/ca0aeb1a-1ac2-4ca4-aec0-c6fab94261ca/link_lists.bin
src/projects/KT/vectorstore/chroma_db/chroma.sqlite3
